.menu {
left:auto;
right: auto;
display:inline-block;
width:48%;
}

.menu, .menu ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
.menu li{
display:inline-block;
position:relative;
border-radius:1px;
width:100%;
}
.menu ul li{
display:inherit;
}
.menu ul li:hover{

}

.menu ul{
position:absolute;
display:inline-block;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:auto;
-moz-transition: .2s all .1s;
-webkit-transition: .2s all .1s;
transition: .2s all .1s;
}
.menu li:hover ul{
max-height:15em;
}
/* background des liens menus */
.menu li{
background-color: #207545;
}

/* background des liens sous menus */
.menu li li{
background:#207545;
}

/* background des liens menus et sous menus au survol */
.menu li:hover, .menu li li:hover{
background:#e1ff2f;
}

/* les a href */
.menu a{
text-decoration:none;
display:block;
padding:4px 2px;
color:#fff;
font-family:arial;
}
.menu ul a{
padding:8px 0;
}
.menu li:hover li a{
color:#fff;
text-transform:inherit;
}
.menu li:hover a, .menu li li:hover a{
color:#006477;
}