body {
	padding: 0;
	margin:0;
	}

html, body, #mapid {
    height: 100%;
	font-family: 'Asap', sans-serif;
	}
	
a {
	text-decoration:none;
	color:white;
	}
	
a:hover {
	color: #fff;
	}
	
.hyperlien {
	color:#fff;
	border-radius:4px;
}
	
.hyperlien:hover {
	color: #207545;
	background-color: yellow;
	border-radius:4px;
}

i {
	font-size:0.9em;
	font-style: italic;	
	}
	
strong {
	font-weight: bold;
	}
		
h1{
	font-size:1.5em;
	text-transform:uppercase;
	color: #fff;
	padding-bottom:10px;
	}
	
h2{
	font-size:1.4em;
	font-weight: bold;
	padding-bottom:10px;
	margin:0;
}

h3{
	font-size:0.9em;
	font-weight: bold;
	color: #ffffff;
	padding:5px;
	margin:0;
}


.presentation {
	color: #004D4D;
	line-height: 1.1em;
	padding-top:10px;
}

.paragraphe {
	padding-left:10px;
	font-size:0.9em;
	line-height: 1em;
}
	
.leaflet-left {
	left: 0;
	}	

.description {
    font-size: 1em;
    font-weight: bold;
    color: #004D4D;
}

.operation { 
    color: #004d4d;
}

.porteur { 
    color: #63032c;
}
	
#sources {
	margin-top:20px;
	font-size:0.8em;
	}

.Tooltips {
	font-size:1.1em;
	line-height:1.1em;
	border:none;
	font-weight: bold;	
	margin: -35px 60px;
	white-space: normal;
	text-align:left;
	max-width:300px;
	min-width:80px;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
	}
	
.Tooltip_operation {
	color:#004d4d;
	}

.Tooltip_porteur {
	color:#63032c;
	}
	

.bas {
	margin-top:50px;
}

#lien:hover {
	color: #657eb6;
}

	/*Affichage des onglets*/	
		
#fiche_operation {
	display: none;
	}
	
#fiche_porteur {
	display: none;
	}

#divInfos {
	display: block;
	color: #004D4D;
	}
	
#defaut {
	display: none;
	}
	
.onglets{
	background-color: #408686;
	color: #ffffff;
}


.onglets:hover {
	color: #408686;
	background-color: yellow;
}

.retour {
	cursor:pointer;	
	margin-top:35px;
	padding:5px;
	color: #c5dcdd;
		}
		
.retour:hover {
	color: #007282;
	background-color: yellow;
	border-radius:2px;
	
	}

/*Style du tableau*/
	
.divTable{
	display: table;
}


.divTableRow {
	display: table-row;
}

.divTableCell, .divTableHead {
	border: 1px solid rgba(223,236,237,0.5);
	vertical-align:middle;
	padding: 8px;
	width: 97%;
}

.divTableBody {
	width: 95%;
}

.chiffre{
	font-size:1.3em;
	font-weight: bold;
	color:#f26664;
}

.liste{
	color:#004D4D;
	cursor: pointer;
	list-style:inside;
	padding:4px 4px;
	line-height:1.3em;
	list-style: none;
}

#searchField{
	width: 95%;
	height:20px;
	background-color: #E3DAD1;
	border-radius:2px;
	color: #9C856D;
	padding:5px;
	margin:3px;
	font-size:1em;
}

.liste:hover {
	color:yellow;
	background-color: #76A8A8;
	border-radius:3px;
}

.tip {
	color: #007282;
	position:absolute;
	left:45px;
	top: auto;
	margin-top: -35px;
	width:100px;
	background-color: yellow;
	border-radius: 4px;
	font-size:0.8em;
	padding:4px;
	display: none;
	transition: opacity 0.2s;
	z-index: 1000;
}

#def {
	display:none;
	font-size:0.9em;
    position: absolute;
	top: 30%;
	left: 40%;
	background-color: rgba(0,100,119,0.97);
	width:400px;
	z-index: 3000;
	text-align:center;
	padding:15px;
	border-radius:7px;
	border: 1px solid rgba(255,255,255,1);
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
}

.bouton {
	width: 80%;
	font-size: 1.1em;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;	
	background-color: #408686;
	margin:25px;
	padding: 10px;
	border-radius: 4px;
	position: relative;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
	}	

.button_container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	}
	
.bouton:hover, .bouton_reinitialiser:hover {
	background-color: yellow;
	color: #408686;
	border-radius: 4px;
	}
	
.bouton_reinitialiser{
	font-size: 0.85em;
	cursor: pointer;
	color: #428e9b;
	left:0;
	vertical-align: middle;	
	margin-bottom:20px;
	padding:5px;
	position: relative;
	text-decoration: underline;
	color: #004e5f;
}

.label {
	text-align: center;
	width: 70px;
	color:rgba(156,133,109,0.95);
}
	

